<div class="modal fade" id="agreement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        
        <h3>You must agree to these terms to download the data.</h3>
        <%= render 'shared/data_terms' %>

        <%= link_to 'Email me the data terms', '/email-data-terms', method: :post, remote: true %>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">I do not agree.</button>
        <%= link_to "I have read and agree to these terms.", '/agree', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

