<div class="row download-data">
  <div class="col-xs-12">
    <% if signed_in? %>
      <div class="data-button">
        <button class="btn btn-success btn-lg" id="download-button" data-toggle="modal" data-target="#agreement">
          Download the Data
        </button>
      </div>
      <%= render 'static_pages/agreement' %>
    <% else %>
      <p>
        <a href="#top">Sign in above</a> to download the data.
      </p>
    <% end %>
  </div>
</div>