<div class='jumbotron'>
  <h1>37 Billion Miles</h1>
  <h2>Data Challenge</h2>
  
  <h5>Data released <strong>February 27 2014</strong></h5>
  <h5>Datathon <strong>March 15 2014</strong></h5>
</div>

<div class="row padded">

  <div class='col-sm-4'>
    <div class="event" id="event-hackathon">
      <h4>Six-Week Challenge</h4>
    </div>
  </div>

  <div class='col-sm-4'>
    <div class="event" id="event-month">
      <h4>Vehicle-Miles Traveled Data</h4>
    </div>
  </div>

  <div class='col-sm-4'>
    <div class="event" id="event-contest">
      <h4>Datathon</h4>
    </div>
  </div>

</div>


<%= render 'shared/download' %>


<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">

    <h3>The Challenge</h3>

    <aside>
      What can you discover in 37 billion miles of data?
    </aside>

    <p>
      On <a href="data-release.ics">February 27, 2014</a>, the Metropolitan Area Planning Council will release the first ever statewide vehicle-miles traveled dataset. We invite you to use this data in any way you see fit. Analyze it, visualize it, build applications to explore it, and see what insights and patterns you can find.
    </p>



    <p>
      <strong>Design, develop, analyze, imagine:</strong> No matter your skill set, use TODO years of anonymized vehicle-miles traveled data to discover patterns and raise insights.
    </p>

    <p>
      <strong>Address relevant problems:</strong>Develop insights into transportation-related problems including traffic, air quality, and climate.
    </p>


    <h3>The Data</h3>

    <li>
      
    </li>


    <h3>The Datathon</h3>

    <ul class="event">
      <li>
        <a href="datathon.ics">March 15, 2014</a>
      </li>
      <li>
        <a href="datathon.ics">9 am - 6 pm</a>
      </li>
      <li>
        <a href="http://districthallboston.org/">
          District Hall
        </a>
        <a href="https://www.google.com/maps/place/District+Hall/@42.3522935,-71.0453094,17z/data=!3m1!4b1!4m2!3m1!1s0x89e3707f21d9ad9b:0x1c285746e3201643">
          (Innovation District, Boston MA)
        </a>
      </li>
    </ul>

    <aside>
      Join MAPC for the <a href="datathon.ics">Datathon</a>, a day full of skill-building and problem-solving using the vehicle-miles traveled dataset.
    </aside>

    <p>
      On March 15th, MAPC will host a gathering of local thinkers, researchers, analysts, designers, and developers.
    </p>

    <h4>Skillshare</h4>
    <p>
     Spend the first part of the day in a skillshare, building your skills with workshops on problem analysis, visual design, and software development. The rest of the day will be spent working together, asking questions and answering them with the data.
    </p>

    <h4>Teamwork</h4>
    <p>
      The rest of the day will be spent working together, asking questions of the data and answering them using your team's skills, newly-acquired or otherwise.
    </p>








    <p>
      Let <a href='http://twitter.com/grandvizauto' target='_blank'>@GrandVizAuto</a> keep you updated.
    </p>
    
    <p>
      Ask questions and form teams on the <a href='https://mapc.uservoice.com/forums/236447-grand-viz-auto' target='_blank'>Grand Viz Auto UserVoice</a>.
    </p>

  </div>
</div>
