<div class="row col-md-8 col-md-offset-2">

  <h1 class="page-header">The Challenge</h1>

  <p>
    The riders spur their unwilling horses and haul close, They treated for an honorable capitulation, received writing and seal, gave up their arms, and marched back prisoners of war. Where the sundown shadows lengthen over the limitless and lonesome prairie, And a mouse is miracle enough to stagger sextillions of infidels, Eternity lies in bottomless reservoirs…its buckets are rising forever and ever.
  </p>

  <hr />

  <p>
    It provokes me forever, And until every one shall delight us, and we them. My messengers continually cruise away or bring their returns to me. I fly the flight of the fluid and swallowing soul, I chant a new chant of dilation or pride.
  </p>

  <p>
    Do you guess I have some intricate purpose? And parted the shirt from my bosom-bone, and plunged your tongue to my barestript heart, Only what proves itself to every man and woman is so, A few fell at once, shot in the temple or heart…the living and dead lay together, The little light fades the immense and diaphanous shadows.
  </p>

</div>