<div class="row col-md-8 col-md-offset-2">

  <h1 class="page-header">The Data</h1>

  <p>
    They have cleared the beams away...they tenderly lift me forth. To touch my person to some one else's is about as much as I can stand. One was directed by the captain himself against the enemy's mainmast, That life is a suck and a sell, and nothing remains at the end but threadbare crape and tears. Walt Whitman, an American, one of the roughs, a kosmos.
  </p>

  <p>
    Me going in for my chances, spending for vast returns, They bribed to swap off with touch, and go and graze at the edges of me, And acknowledge the red yellow and white playing within me, This is the meal pleasantly set…this is the meat and drink for natural hunger, I celebrate myself.
  </p>

  <p>
    What exclamations of women taken suddenly, who hurry home and give birth to babes, Approaching Manhattan, up by the long-stretching island, There shall be no difference between them and the rest. With Odin, and the hideous-faced Mexitli, and all idols and images, Twenty-eight young men, and all so friendly.
  </p>

</div>