<h1 class="page-header">
  FAQ
</h1>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <ul>
      <li>
        <a href="#1">
          Why is it called the 37 Billion Mile Data Challenge?
        </a>
      </li>
      <li>
        <a href="#2">
          Where does the data come from?  
        </a>
      </li>
      <li>
        <a href="#3">
          Does the dataset contain personal information? 
        </a>
      </li>
      <li>
        <a href="#4">
          Can you elaborate on the questions that the challenge is seeking to answer?  
        </a>
      </li>
      <li>
        <a href="#5">
          What are the contest rules? 
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h3 id="1">
      Why is it called the 37 Billion Mile Data Challenge?
    </h3>
    <p>
      MAPC estimates that all vehicles registered in the State of Massachusetts collectively travelled more than 37 billion miles in the year 2010. 
    </p>

    <h3 id="2">
      Where does the data come from?
    </h3>
    <p>
      The Massachusetts Vehicle Census compiles information from the vehicle registration system maintained by the Massachusetts Registry of Motor Vehicles and from the records of vehicle safety inspections. MAPC and the Central Transportation Planning Staff processed the data to determine garaging location and to estimate annual mileage. Commercial vehicle databases—provided by researchers at Yale University—were used to determine the make, model, year, fuel economy rating, and other attributes of each vehicle. To learn what's in the data, download the <a href="http://www.mapc.org/sites/default/files/Vehicle Census_Metadata.pdf" target="_blank">field list</a> or read the <a href="http://www.mapc.org/sites/default/files/VehicleCensusofMA_Documentation_v1.pdf" target="_blank">documentation about how it was created.</a>
    </p>

    <h3 id="3">
      Does the dataset contain personal information?
    </h3>
    <p>
      The Massachusetts Vehicle Census does not contain any information about a specific individual, nor information that could be used to conclusively identify an individual. The production of the dataset and the information it contains are fully compliant with the Federal Driver Privacy Protection Act (18 U.S.C. § 2721 et seq., the “DPPA”), which governs the use of vehicle registration data in the United States. Actual Vehicle Identification Numbers (VINs) and license plate numbers have been replaced by randomly-generated integers, and no address information is provided about any vehicle, only the zip code where it is garaged. Where necessary, certain information about some vehicles is suppressed to prevent users from identifying unique vehicles in a zip code based solely on their make, model, and year. Where a single record exists in a zip code for a particular type and year of vehicle, users should not assume that was the only such vehicle registered in the zip code at that time, because other records may have been suppressed.  Mileage estimates are also suppressed in grid cells with very few households and vehicles. Neither the Vehicle Census nor the information it is based on contain any information about where cars and trucks were driven to, only how much they were driven. For more information, read our statment on <a href="http://www.mapc.org/sites/default/files/Privacy and the Vehicle Census of Massachusetts.pdf" target="_blank">privacy and the Vehicle Census.</a>
    </p>

   <h3 id="4">
      Can you elaborate on the questions that the challenge is seeking to answer?
    </h3>
    <p>
      The bullets below include more background and additional questions that the data may help to answer. To get more ideas to help guide your data exploration, join us at the Datathon on March 22!
      <ul class="with-bullets">
        <li>
          What predicts auto usage, and where are the opportunities to reduce it? Vehicle ownership rates and mileage per vehicle vary substantially within and across the state’s communities. What neighborhood, community, or regional characteristics help to explain this variation? Do the results suggest certain areas or actions that might represent the best opportunities for shifting car travel to more sustainable modes of transportation?  
        </li>
        <li>
          What are people driving, and how much does it cost? Transportation costs make up a significant share of household expenses, especially for low income families. How much are households spending to own a vehicle and fill up its tank? How do these costs vary across the state? Which communities bear the biggest burden when it comes to the cost of driving? Can this information be presented in a format that helps people make more informed choices about where to live?  
        </li>
        <li>
          Will there ever be enough parking? Concerns about parking permeate every discussion about new development, yet there is little basis to determine how much is needed. Do municipal parking requirements for new homes reflect vehicle ownership rates in different communities? How much land will be dedicated to parking if ownership rates and regulatory requirements hold steady as the region grows?  
        </li>
        <li>
          What can communities do about it? Cities and towns across the state are making efforts to reduce their greenhouse gas footprint, with more sustainable transportation a key strategy. What statistics can help communities to benchmark greenhouse gas emissions and set targets for improvement? Can information about fleet mix and usage patterns help guide local efforts to encourage more sustainable transportation choices?  How can local statistics be presented in interactive formats that support learning and outreach?
        </li>
    </p>
    
    <h3 id="5">
      What are the contest rules?
    </h3>

    <%= render 'shared/contest_rules' %>

  </div>
</div>
