<h1 class="page-header">
  FAQ
</h1>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <ul>
      <li>
        <a href="#1">
          This is the first question
        </a>
      </li>
      <li>
        <a href="#2">
          This is the second question
        </a>
      </li>
      <li>
        <a href="#3">
          This is the third question
        </a>
      </li>
      <li>
        <a href="#4">
          What are the contest rules?
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h3 id="1">
      This is the first question
    </h3>
    <p>
      This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer This is the first answer 
    </p>

    <h3 id="2">
      This is the second question
    </h3>
    <p>
      This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer This is the second answer 
    </p>

    <h3 id="3">
      This is the third question
    </h3>
    <p>
      This is the third answer This is the third answer This is the third answer This is the third answer This is the third answer This is the third answer This is the third answer This is the third answer This is the third answer This is the third answer This is the third answer This is the third answer This is the third answer This is the third answer This is
    </p>

    <h3 id="4">
      What are the contest rules?
    </h3>

    <%= render 'shared/contest_rules' %>

  </div>
</div>