<div class="jumbotron static">
<!--   <h1>
    37 Billion Miles
  </h1>
  <h2>
    A Data Challenge
  </h2>
  <h4>
    from the Metropolitan Area Planning Council
  </h4>
  <caption>
    <a href="http://en.wikipedia.org/wiki/Leonard_P._Zakim_Bunker_Hill_Memorial_Bridge" target="_blank">
      Photo from Wikipedia
    </a>
    </caption> -->
</div>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">

    <section id="the-challenge">
      <h1>
        The Challenge
      </h1>
      <aside>
        A six-week contest to figure out why Massachusetts cars and trucks are driving 37 billion miles each year. 
      </aside>

      <p>
        The Metropolitan Area Planning Council, the Massachusetts Department of Transportation, and the Massachusetts Technology Collaborative invite you to explore anonymous vehicle-use data and discover insights that can help the Commonwealth build a more efficient and sustainable transportation system.
      </p>

      <h3>
        What We're Looking For
      </h3>

      <ul>
        <li>
          <strong>Visualizations, analysis, maps, animations, infographics, interactive web tools, games</strong>, and any other data-driven medium that reveals patterns and helps inform action.
        </li>
        <li>
          <strong>Answers to driving questions</strong> related to transportation, energy, land use, and policy, such as:
          <ul>
            <li>
              What makes a neighborhood more likely to have high car ownership and mileage?
            </li>
            <li>
              How much are households spending on gas? Where does driving place the biggest burden on family budgets?
            </li>
            <li>
              Where might investments in walking, biking and transit have the biggest impact in reducing how much people drive?
            </li>
            <li>
              What is the best way for communities to measure greenhouse gas emissions and set goals for reducing them?
            </li>
            <li>
              Do minimum parking requirements for new developments match up with vehicle ownership rates in different communities?
            </li>
          </ul>
        </li>
      </ul>

      <h3>
        Who Should Enter?
      </h3>
      <p>
        Whether you're a researcher, analyst, designer, developer, or philosopher, you can participate in this challenge. All skill sets are welcome! Form teams or work on your own -- the choice is yours.
      </p>
      <p>
        If you're looking for teammates or to learn more about working with data, the <a href="#datathon">Datathon</a> is not to be missed!
      </p>

      <h3>
        Prizes
      </h3>
      <p>
        The most compelling entries will win cash prizes, pre-loaded Charlie Cards, souvenir license plates, and more.
      </p>
    </section>


    <section id="the-data">
      <h1>
        The Data
      </h1>
      <aside>
        A one-of-a-kind resource for Massachusetts
      </aside>

      <p>
        The Massachusetts Vehicle Census contains:
        <ul class="with-bullets">
          <li>
            anonymized information about the age, model, estimated mileage, fuel efficiency, and zip code of passenger and commercial vehicles registered in the state from 2008 to 2011
          </li>
          <li>
            a spatial dataset of 250 meter grid cells with statistics on vehicles per household, mileage per vehicle, and greenhouse gas emissions
          </li>
          <!-- <li>
            a companion package including a wide range of spatial data, including population, businesses, property statistics, and the built environment, for each grid cell
          </li> -->
        </ul>
      </p>
      
      <%= render 'static_pages/download' %>
       
      <p>
        The Metropolitan Area Planning Council created the Vehicle Census of Massachusetts, on which the Challenge is based, in partnership with MassDOT and with support from the Barr Foundation.
      </p>

      <p>
      </p>
    </section>


    <section id="datathon">
      <h1>
        Datathon
      </h1>

      <aside>
        A day of skill-building and team-assembling in Boston's Innovation District
      </aside>

      <p>
        You're invited! Join MAPC at <a href="http://37billionmiledatathon.eventbrite.com" target="_blank">District Hall on Saturday, March 22nd from 9-6</a> for a day of skill-building and data analysis. Learn new skills or reinforce existing ones in the morning, then form teams and work on your data challenge submissions in the afternoon. The Datathon is an inclusive event, like a hackathon but welcoming all skill sets. 
      </p>

      <br/>

      <div class="data-button">
        <a class="button btn-lg btn-warning download-button" href="http://37billionmiledatathon.eventbrite.com" target="_blank">
          Register for the Datathon
        </a>
      </div>
      <br/>
      <br/>
      <br/>

      <h3>
        <a name="the-morning"></a>
        The Morning
      </h3>

      <p>
        Our morning session, "How to Win a Data Challenge", will feature a diverse collection of data-driven folks leading tutorials and skill-building sessions. Learn more about data analysis, GIS, user-oriented design, and software development in order to create compelling entries. Speaker lineup will be announced soon.
      </p>

      <h3>
        <a name="the-afternoon"></a>
        The Afternoon
      </h3>

      <p>
        Using the skills you learned in the morning session, form teams and work on your submissions for the April 10 deadline.
      </p>

      <h3>
        Not Your Grandfather's Hackathon
      </h3>

      <p>
        In addition to breakfast and lunch, we will provide healthy mid-day snacks and run two 30-minute yoga classes mid-afternoon, to help you re-center and focus.
      </p>
      <p>
        In order to create a safe, welcoming environment for all, we have adopted the <a href="http://confcodeofconduct.com/">Conference Code of Conduct </a> for the Datathon.
      </p>
    </section>


    <section id="schedule">
      <h1>
        Data Challenge Schedule
      </h1>

      <p>
        <ul>
          <li>
            <strong>March 10th: </strong>
            Teams and individuals may register for the challenge, gain access to the public data set and <a href="http://37billionmiledatathon.eventbrite.com" target="_blank">sign up for the Datathon</a>.
          </li>
          
          <li>
            <strong>March 22nd: </strong>
            <a href="#datathon">The Datathon</a> will be held at District Hall, 9 am - 6 pm.
          </li>

          <li>
            <strong>April 19th: </strong>
            The Challenge officially closes.
            <ul>
              <li>
                5 pm – Deadline for in-person submissions. Entries should be received at the MAPC offices, 60 Temple Place, Boston MA 02111.
              </li>
              <li>
                11:59 pm – Deadline for entries submitted online here.
              </li>
            </ul>
          </li>

          <li>
            <strong>May 1st: </strong>
            Awards ceremony and reception 7-9 pm at District Hall, 75 Northern Ave., Boston.
          </li>
        </ul>
      </p>
    </section>


    <section id="judges">
      <h1>
        The Judges
      </h1>

      <div class="row judge">
        <div class="col-xs-12">
          <h3 class="judge name">
            Secretary Richard Davey
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/davey.jpg"/>
            </div>
            <div class="col-xs-12 col-md-9 col-md-offset-1 judge bio">
              <p>
                Richard A. Davey is the Secretary of Transportation for  Massachusetts. He is the recent recipient of the prestigious <a href="http://www.nbaa.org/about/awards/silk-scarf/20130408-massdot-ceo-davey-receives-nbaa-silk-scarf-award.php" target="_blank">Silk Scarf award from the National Business Aviation Association</a>. He rides the Green Line to work, doesn’t own a car, and lives in Boston with his wife and two cats, Benny and Spago.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row judge">
        <div class="col-xs-12">
          <h3 class="judge name">
            Gabriel Florit, Boston Globe
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/florit.jpg"/>
            </div>
            <div class="col-xs-12 col-md-9 col-md-offset-1 judge bio">
              <p>
                Gabriel Florit makes data visualizations for the Boston Globe. Previously, he wrote software to keep track of trains, fell 200 feet off a mountain, and got lost in Alaska for two years.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row judge">
        <div class="col-xs-12">
          <h3 class="judge name">
            Jon Follett, Involution Studios
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/follett.jpg"/>
            </div>
            <div class="col-xs-12 col-md-9 col-md-offset-1 judge bio">
              <p>
                Jon Follett is a principal at Involution Studios where he is a designer and an internationally published author on the topics of user experience and information design. He has created data visualizations for AstraZeneca, the Commonwealth of Massachusetts, Survey Sampling International, and many other clients. He is a father of two boys, and a classically trained pianist who dreams of one day having a family rock band.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row judge">
        <div class="col-xs-12">
          <h3 class="judge name">
            Stephanie Pollack, Northeastern University
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/pollack.jpg"/>
            </div>
            <div class="col-xs-12 col-md-9 col-md-offset-1 judge bio">
              <p>
                Stephanie Pollack is the Associate Director of the Dukakis Center for Urban and Regional Policy at Northeastern University, where her current research focuses on the intersection of transportation, sustainability and equity.   Her family of five licensed drivers shares two cars, one Zipcar membership, many bicycles, and a love of the webcomic <a href="http://www.xkcd.com" target="_blank">xkcd</a>.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row judge">
        <div class="col-xs-12">
          <h3 class="judge name">
            Tim Reardon, MAPC
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/reardon.jpg"/>
            </div>
            <div class="col-xs-12 col-md-9 col-md-offset-1 judge bio">
              <p>
                Tim Reardon is the Deputy Director of Data Services at MAPC, where he oversees research activities, development of new datasets, and new data applications for local and regional planning. He lives in zip code 02119 where his family’s vehicles include four bicycles and a 2005 Toyota Matrix that had an odometer reading of 41,086 miles when inspected in 2010.
              </p>
            </div>
          </div> 
        </div>
      </div>

      <div class="row judge">
        <div class="col-xs-12">
          <h3 class="judge name">
            Christopher Scranton, MassTech
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/scranton.jpg"/>
            </div>
            <div class="col-xs-12 col-md-9 col-md-offset-1 judge bio">
              <p>
                Christopher Scranton is the Senior Manager for Big Data &amp; Technology Initiatives at MassTech’s Innovation Institute and the lead project manager for the Massachusetts Big Data Initiative. Since 2006, he has supported and led technology-based, cluster-focused economic development initiatives in support of high-tech, emerging, and innovation-rich industries including nanotech, advanced manufacturing, clean energy, and digital games. Christopher is also an avid cyclist.
              </p>
            </div>
          </div> 
        </div>
      </div>

      <div class="row judge">
        <div class="col-xs-12">
          <h3 class="judge name">
            Mary Skelton-Roberts, Barr Foundation
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/skelton-roberts.jpg"/>
            </div>
            <div class="col-xs-12 col-md-9 col-md-offset-1 judge bio">
              <p>
                Mary Skelton Roberts is a Senior Program Officer for the Environment at the Barr Foundation, where she focuses on transportation and land use &mdash; two critical levers for reducing green house gas emissions. She also leans on prior experience in dispute resolution, both for mediating complex public policy issues, but also when, running late for meetings, she must negotiate for that last available Hubway bike. 
              </p>
            </div>
          </div> 
        </div>
      </div>

      <div class="row judge">
        <div class="col-xs-12">
          <h3 class="judge name">
            You!
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/you.png"/>
            </div>
            <div class="col-xs-12 col-md-9 col-md-offset-1 judge bio">
              <p>
                You can help choose the winners! <a href="#top">Sign in</a> to rate submissions when they start rolling in.
              </p>
            </div>
          </div> 
        </div>
      </div>

    </section>


  </div>
</div>
