<div class="jumbotron static">
  <h1>
    37 Billion Miles
  </h1>
  <h2>
    A Data Challenge
  </h2>
  <h4>
    from the Metropolitan Area Planning Council
  </h4>
  <caption>
    <a href="http://en.wikipedia.org/wiki/Leonard_P._Zakim_Bunker_Hill_Memorial_Bridge" target="_blank">
      Photo from Wikipedia
    </a>
    </caption>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">

    <section id="the-challenge">
      <h1>
        The Challenge
      </h1>
      <aside>
        A six-week challenge to find and present the patterns in 37 billion miles of data
      </aside>

      <p>
        The Metropolitan Area Planning Council invites you to visualize, analyze, and otherwise hack a dataset of <strong>vehicle ownership and mileage for every car in Massachusetts</strong>, the first dataset of its kind in the country.
      </p>

      <h3>
        What We're Looking For
      </h3>

      <ul>
        <li>
          <strong>Visualizations, animations, maps, infographics, games</strong>, and any other data-driven medium that reveals patterns and uncovers insights hidden in this vast dataset.
        </li>
        <li>
          <strong>Answers to driving questions</strong> related to transportation, energy, land use, and policy, such as:
          <ul>
            <li>
              What makes a neighborhood more likely to have high car ownership and mileage?
            </li>
            <li>
              Where does driving place the biggest burden on family budgets?
            </li>
            <li>
              Where might investments in walking, biking and transit have the biggest impact in reducing how much people drive?
            </li>
            <li>
              What is the best way for communities to measure GHG emissions and set goals for reducing them?
            </li>
            <li>
              How is the average family's gas consumption changing over time?
            </li>
            <li>
              Do minimum parking requirements for new developments match up with vehicle ownership rates in different communities?
            </li>
          </ul>
        </li>
      </ul>

      <h3>
        The Skills You Need
      </h3>
      <p>
        Whether you're a researcher, analyst, designer, developer, philosopher, what have you -- you can participate in the challenge. All skill sets are welcome!
      </p>
      <p>
        If you're looking to learn more about working with data, the morning of the <a href="#datathon">Datathon</a> will help you build new skillsets and reinforce existing ones!
      </p>
    </section>


    <section id="the-data">
      <h1>
        The Data
      </h1>
      <aside>
        The first dataset of its kind in the entire country
      </aside>

      <p>
        The data consists of five years' worth of annual vehicle-miles traveled, anonymized to the grid cell level, across the entire state of Massachusetts. We are also releasing five-year counts of the makes and models of registered vehicles.
      </p>

      <%= render 'shared/download' %>

      <p>
      </p>
    </section>


    <section id="datathon">
      <h1>
        Datathon
      </h1>

      <aside>
        A day of skill-building and data visualization in Boston's Innovation District
      </aside>

      <p>
        We invite you to join MAPC at <a href="events/datathon.ics">District Hall on Saturday, March 15th from 9-6</a> for a day of skill-building and data analysis. Learn new skills or reinforce existing ones in the morning, then form teams and work on your data challenge submissions in the afternoon. The Datathon is an inclusive event, like a hackathon but welcoming all skill sets.
      </p>

      <h3>
        <a name="the-morning"></a>
        The Morning
      </h3>

      <p>
        Our morning session series, "How to Win a Data Challenge", will feature a diverse collection of data-driven folks leading tutorials and skill-building sessions. Learn more about data analysis, GIS, user-oriented design, and software development in order to create compelling entries.
      </p>

      <p>
        The "How to Win a Data Challenge" speaker lineup will be announced soon.
      </p>

      <h3>
        <a name="the-afternoon"></a>
        The Afternoon
      </h3>

      <p>
        Using the skills you learned in the morning session, form teams and work on your submissions for the April 10 deadline.
      </p>

      <h3>
        Not Your Grandfather's Hackathon
      </h3>

      <p>
        In addition to lunch, we will provide healthy mid-day snacks and run two 30-minute yoga classes mid-afternoon, to help you recenter and focus.
      </p>

      <h3>
        Datathon Code of Conduct
      </h3>

      <p>
        All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following Datathon code of conduct. Datathon organizers will enforce this code throughout the event, and expect support from all participants to ensure a safe, welcoming environment for everybody.
      </p>
      <p>
        <strong>The Quick Version:</strong> Our conference is dedicated to providing a harassment-free Datathon experience for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of Datathon participants in any form. Sexual language and imagery is not appropriate for any Datathon venue, including talks, workshops, parties, Twitter and other online media. Participants violating these rules may be sanctioned or expelled from the Datathon at the discretion of the organizers.
      </p>
      <p>
        Contact information for Datathon organizers will be posted here prior to the event.
      </p>
      <p>
        The full-length code of conduct we have adopted for the Datathon can be found at <a href="http://confcodeofconduct.com/">confcodeofconduct.com</a>.
      </p>

      <p>
      </p>
    </section>


    <section id="entering">
      <h1>
        Entering the Challenge
      </h1>

      <p>
        This website will begin accepting submissions on or before the <a href="#datathon">March 15th Datathon</a>.
      </p>
    </section>


    <section id="judges">
      <h1>
        The Judges
      </h1>

      <div class="row judge">
        <div class="col-md-12">
          <h3 class="judge name">
            Secretary Richard Davey
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/davey.jpg"/>
            </div>
            <div class="col-xs-12 col-md-10 judge bio">
              <p>
                Bio Here
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row judge">
        <div class="col-md-12">
          <h3 class="judge name">
            Gabriel Florit, Boston Globe
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/florit.jpg"/>
            </div>
            <div class="col-xs-12 col-md-10 judge bio">
              <p>
                Gabriel Florit makes data visualizations for the Boston Globe. Previously, he wrote software to keep track of trains, fell 200 feet off a mountain, and got lost in Alaska for two years.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row judge">
        <div class="col-md-12">
          <h3 class="judge name">
            Jon Follett, Involution Studios
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/follett.jpg"/>
            </div>
            <div class="col-xs-12 col-md-10 judge bio">
              <p>
                Jon Follett is a principal at Involution Studios where he is a designer and an internationally published author on the topics of user experience and information design. He has created data visualizations for AstraZeneca, the Commonwealth of Massachusetts, Survey Sampling International, and many other clients. He is a father of two boys, and a classically trained pianist who dreams of one day having a family rock band.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row judge">
        <div class="col-md-12">
          <h3 class="judge name">
            Brian Lucid, Mass. College of Art and Design
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/lucid.jpg"/>
            </div>
            <div class="col-xs-12 col-md-10 judge bio">
              <p>
                Brian Lucid is a Professor of Design at the Massachusetts College of Art and Design. He teaches information design, data visualization and creative coding with a focus on making the complex clear. Lucid really is his last name.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row judge">
        <div class="col-md-12">
          <h3 class="judge name">
            Stephanie Pollack
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/pollack.jpg"/>
            </div>
            <div class="col-xs-12 col-md-10 judge bio">
              <p>
                Bio Here
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row judge">
        <div class="col-md-12">
          <h3 class="judge name">
            Tim Reardon, MAPC
          </h3>
          <div class="row">
            <div class="col-xs-12 col-md-2 judge image">
              <img class="headshot" src="images/judges/reardon.jpg"/>
            </div>
            <div class="col-xs-12 col-md-10 judge bio">
              <p>
                Tim Reardon is Assistant Director of Data Services at MAPC, where he oversees the agency’s research activities, development of new datasets, and novel applications of data to local and regional planning. He lives in zip code 02119 where his family’s vehicles include four bicycles and a 2005 Toyota Matrix that is driven an average of 15 miles per day. 
              </p>
            </div>
          </div> 
        </div>
      </div>

    </section>


  </div>
</div>