<h1>Contest Rules</h1>
<p>
  The 37 Billion Mile Data Challenge (the “Challenge”) is open to individual and team entries. At least one person associated with each entry must be eighteen (18) years of age or older at the time of entry.  Employees of the Metropolitan Area Planning Council (“MAPC”), the Massachusetts Department of Transportation (“MassDOT”), the Massachusetts Technology Collaborative (“MassTech”), and other sponsoring organizations of this Challenge, and their subsidiaries and affiliates, as well as the immediate family members (spouse, parents, children and siblings) and household members of each such employee are eligible to participate but may not be awarded any monetary or material prizes.
</p>
<p>
  The contest opens on March 10, 2014.  Entries should be received at the MAPC offices, located at 60 Temple Place, Boston, MA 02111 by 5:00 p.m, on Friday, April 18th, 2014 or submitted online at www.37billionmilechallenge.org by 11:59 p.m. EST on Saturday April 19th, 2014.
</p>
<p>
  Entrants agree to grant to MAPC, MassDOT, and MassTech the royalty-free and non-exclusive right to use, distribute, reproduce, modify, adapt and publicly display the entrants’ submissions, underlying data, and programming code for any or all uses. Entrants also agree to license their submittal using the <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International Public License</a> (CC BY 4.0.)
</p>
<p>
  Entrants agree to release and hold harmless the MAPC and all of its officers, agents and employees, and those of any other sponsors, agencies, or companies that are associated with the creation, promotion, and execution of this Challenge, against all suits, claims, demands and liabilities of every name and nature, both at law and in equity, based upon or arising out of participation in the Challenge or receipt and use of the prize.
</p>
