<h1>Massachusetts Vehicle Census -- Data Use Agreement</h1>
<p>
  The Massachusetts Vehicle Census dataset is licensed by MAPC under a <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International Public License</a> (CC BY, <a href="http://creativecommons.org/licenses/by/4.0/legalcode" target="_blank">full text here</a>.) Users may copy and redistribute the data in any medium or format and may transform or build upon the data for any legal purpose (including commercial purposes) under the following terms: all published use of the data must give appropriate credit (Vehicle Census of Massachusetts, Metropolitan Area Planning Council 2014), provide <a href="http://creativecommons.org/licenses/by/4.0/legalcode" target="_blank">a link to the license</a>, and <a href="http://wiki.creativecommons.org/License_Versions#Modifications_and_adaptations_must_be_marked_as_such" target="_blank">indicate if changes were made</a>. Credits may be provided in any reasonable manner, but not in any way that suggests the licensor endorses you or your use. Any redistribution of the data itself (though not representations, visualizations, of summaries thereof) should include a notice that the recipient, by receiving the redistributed data, agrees to comply with the terms and conditions of this Data Use Agreement. 
</p>
<p>
  Users agree not to misuse the data in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity. Users agree not to use the data to identify specific vehicles or combine the data with other information to derive or disclose personal information of any individual. User agrees that, when notified that corrected or updated data are made available, user will make all reasonable efforts to destroy existing copies of the obsolete data and replace them with the updated information, if so requested by MAPC. Unauthorized use of the Massachusetts Vehicle Census may give rise to a legal claim or suit.
</p>
<p>
 MAPC has made reasonable efforts to provide accurate data but makes no claims, no representations, and no warranties, expressed or implied, concerning the validity (expressed or implied), the reliability, or the accuracy of the Massachusetts Vehicle Census, including the implied validity of any uses of such data. Each user is responsible for determining the suitability of the data for their intended use or purpose.  
</p>
<p>
  Neither MAPC, MassDOT, nor their affiliates, employees, or agents shall be liable for any loss or injury caused in whole or in part by use of any information from the Massachusetts Vehicle Census.
</p>
