<div class="row download-data">
  <% if signed_in? %>
    <div class="data-button">
      <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
        Download the Data
      </button>
    </div>
    <%= render 'layouts/agreement' %>
  <% else %>
    <p>
      Sign in to download the data.
    </p>
  <% end %>
</div>