<% if @submission.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The submission contains <%= pluralize(@submission.errors.count, "error") %>.
    </div>
    <ul>
    <% @submission.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>