<h1 class="page-header">Newest Submissions</h1>

<ul class="submissions">
  <%= render @submissions.recent %>
</ul>

<div class="row">
  <div class="col-xs-12 paginate">
    <%= paginate @submissions %>
  </div>
</div>