<h1 class="page-header">All Submissions</h1>

<ul class="submissions">
  <%= render @submissions %>
</ul>

<div class="row">
  <div class="col-xs-12 paginate">
    <%= paginate @submissions %>
  </div>
</div>