<h3>Submission</h3>
<h1><%= @submission.title %></h1>
<p>
  <%= @submission.description %>
</p>

<%= link_to 'Next',     submission_path(@submission.next) if @submission.next %>
<%= link_to 'Previous', submission_path(@submission.prev) if @submission.prev %>

<% if signed_in? %>
  <div class='rating' id='rating'>
    Rate this entry!
  </div>
<% end %>
