<h3>Submission</h3>
<h1><%= @submission.title %></h1>
<p>
  <%= @submission.description %>
</p>

<a href='#'>Next</a>
<a href='#'>Previous</a>

<div class='rating' id='rating'>
  Rate this entry!
</div>
