<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You updated your email. Please confirm it by clicking the link below.
      <a href="http://37billionmilechallenge.org/users/<%= @user.id %>/confirm/<%= @user.confirmation_code %>">
        Confirm email
      </a>
    </p>
  </body>
</html>