<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @user.name %>: You requested the terms of use for the data in the 37 Billion Mile Data Challenge.
    </p>

    <%= render 'shared/data_terms' %>
    
  </body>
</html>