$background-dark: #171713;
$sky-blue:        #4B99DD;
$dusty-yellow:    #E1BC9C;
$sunset-pink:     #C98568;


html, body {
  background-color: $background-dark !important;
  overflow-x: hidden;
  padding-top: 30px;
}

.container {
  background-color: $background-dark;
  margin: 0px auto;
  padding-right:24px;
  padding-left:24px;
  color: #EEE;
  .grayout { color: #999; }
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 30px 0;
  line-height: 1.25em;
  font-family: 'Voces';
  text-shadow: 0px  -4px 8px $sky-blue,
              -2px   0px 4px $dusty-yellow,
               0px   4px 8px $sunset-pink;
  .no-shadow {
    text-shadow: none;
  }
  text-align: center;
  letter-spacing: 1px;
}

.download-button {
  box-shadow: 0px -4px 8px $sky-blue,
               -4px  0px 8px $dusty-yellow,
               4px  0px 8px $dusty-yellow,
               0px  4px 8px $sunset-pink;
  margin: 30px 0;
}

.modal-content {
  background-color: $background-dark !important;
}

h1 { font-size: 2.25em; }

h2 { font-size: 2em;    }

h3 { font-size: 1.9em; }

h4 { font-size: 1.5em;  }

h5 { font-size: 1.25em; }

h6 { font-size: 1em;    }

.alert {
  font-family: Voces, "Times New Roman", Times;
  font-size: 1.25em;
  color: $background-dark;
}

.alert-success { 
  background-color: $sky-blue;
}

.alert-notice { 
  background-color: $dusty-yellow;
}

.alert-error {
  background-color: $sunset-pink;
}

.container {
  .name h1 {
    text-align: right;
  }
  .email { 
    position: relative;
    top: 26px;
    h4 {
      text-align: left;
      }
    }

  li, p {
    margin: 0 0 0.75em;
    font-size: 1.5em;
    line-height: 1.75em;
    font-family: Voces, Cambria, "Times New Roman", Times, serif;
    text-shadow: 1px 1px 1px #000;
  }

  li, p {
    a {
      color: #EEE;
      text-shadow: 0px -4px 8px $sky-blue,
                   0px  4px 8px $sky-blue;
      text-decoration: underline;
      
      &:hover {
        color: #FFF;
        text-shadow: 0px -4px 8px $sunset-pink,
                     0px  4px 8px $sunset-pink;
        text-decoration: none;
      }
    }
  }

  ul {
    padding-top: 10px;  
    list-style-type: none;
    &.with-bullets { li:before {
      content: "\0BB \020";
    } }
  }

  li {
    ul { 
      list-style-type: none;
    }
    
    li {
      font-size: 1em;
      margin: 0.75em 0 0;
    }

    li:before {
      content: "\0BB \020";
    }
  }
}

aside {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  padding-bottom: 45px;
  margin-top: -10px;
  padding-top: -10px;
  letter-spacing: 1px;
  color: #AAA;
}


section {
  border-bottom: 2px solid #DDD;
  padding-top: 70px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left,    rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,     rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,      rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
}

.data-button {
  text-align: center;
}

#judges {

  .judge.name {
    font-family: Voces, "Times New Roman", Times;
    text-align: right;
    padding-bottom: 10px;
  }

  .judge.row {
    margin-bottom: 40px;
  }

  .judge {
    p {
      font-weight: 200;
      font-size: 1.25em;
      line-height: 1.5em;
    }
  }

  .headshot {
    width: 120px;
    height: 120px;
    float: left;
    padding-top: 4px;
    margin-right: 10px;
  }

  // dl.judges dd:last-child {
  //   margin-bottom: 100px;
  // }
}


.jumbotron.submission {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row.rating {
  text-align: center;
  margin-top: 10px;
  margin-bottom: -10px;
}

.row.social {
  text-align: center;
  .share {
    margin: 0 auto;
  }
}

p.rating {
  margin-bottom: 0px;
}

div.rating {
  margin: 0 auto 20px;
}

.next-prev div {
  text-align: center;
  min-height: 60px;
  padding-top: 20px;
}


.jumbotron.static {
  position: relative;
  text-align: center;
  min-height: 20em;
  padding-top: 90px;
  background: url(/images/37-billion-starry.jpg) no-repeat center center;
  // background: url(/images/zakim-md.jpg) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

  @media screen and (max-width: 550px) {
    margin-top:    -100px;
    max-height:     10em;
    margin-bottom: -120px;
  }


  h1, h2, h3, h4, h5, h6 {
    color: #FFF !important;
    font-family: 'Voces';
    text-shadow: 0px 0px 8px #000,
                 0px 4px 8px #000,
                 0px 0px 12px #000;
    padding: 0;
  }
  a {
    font-family: Voces, Times;
    position: absolute;
    bottom: 0;
    right: 12px;
    color: #777;
    font-size: 0.6em;
    text-shadow: 0px 0px 8px #000,
                 0px 4px 8px #000,
                 0px 0px 12px #000;
    &:hover {
      color: #CCC;
    }
  }
}

.paginate {
  text-align: center;
}


.submissions {
  img.screenshot {
    max-height: 80px;
  }

  li {
    cursor: pointer;
    list-style-type: none;
    clear: both;
    background-repeat: repeat-x;
    background-position: center;
    padding-top: 90px;
    border-bottom: 2px solid #268c26;
    margin-bottom: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0px;
    }

    div.text {
      background-color: rgba(255, 255, 255, 0.8);
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.submission {
  img {
    max-height: 400px;
    max-width:  600px;
  }
}

#next, #prev {
  position: relative;
  overflow: hidden;
}

span.fill {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;

  p { 
    position: relative;
    top: 13px;
    color: #EEE;
  }

  img {
    position: absolute;
    top:  -50%;
    left: -50%;
    max-width:  300%;
    max-height: 300%;
    // opacity: 0.7;
  }

  &:hover {
    opacity: 1;
    p {
      color: #FFF;
    }
  }

}

#banner {
  position: relative;
  top:    -48px;
  left:   -60px;
  width:  auto;
  height: 343px;
  z-index: 20;
  background-repeat: no-repeat;
}

input.form-control, textarea.form-control { 
  background-color: #CCC;
  font-size: 1.25em;
  font-family: Voces, "Times New Roman", Times
}

.footer {

  // border-top: 3px #EEE solid;
  // text-align: center;
  // position: relative;
  // margin-top: -150px; negative value of footer height
  // height: 150px;
  // clear:both;
  // padding-top:20px;
  text-align: center;
  .row { padding: 10px 0 }
 img {
    position: relative;
    max-width: 350px;
    max-height: 80px;
    vertical-align: middle;
    bottom: 0;
  }
  img.primary {
    max-height: 140px;
  }
}

.navbar-brand { padding-right: 30px; }

li.highlight-link {
  background-color: #DAA123;
  a {
    color: #FFF !important;
  }
}


